.waypointscroll {
  flex: 1 1 auto;
  margin-top: 5px;
  overflow-y: auto;
}

.waypointwarning {
  padding-left: 5px;
  color: red;
  display: none;
}

.waypointlist {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  border: 2px solid #4a90e2;
  border-radius: 10px;
  overflow: hidden;
  background: linear-gradient(135deg, #151515 0%, #3a3a3a 50%, #1c1c1c 100%);
  box-shadow: 0 0 12px rgba(74, 144, 226, 0.6);
}

.waypointlist th,
.waypointlist td {
  border: 1px solid #4a90e2;
  padding: 4px 8px;
  text-align: center;
  font-weight: normal;
}


.highlight {
  font-weight: bold;
}


.noWaypoints {
  text-align: center;
  font-style: italic;
  color: #ccc;
}

.waypointRow.selected {
   background: linear-gradient(135deg, #151515 0%, #4a90e2 25%, #1c1c1c 120%);
}

