.movement_grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.95rem;
}

.movement_row {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 1.95rem;
}


.joystick-btn {
  width: 130px;
  height: 130px;
  background: linear-gradient(135deg, #151515 0%, #4a90e2 50%, #1c1c1c 100%);
  border: 4px solid #151515;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}


.joystick-btn img {
  width: 70%;  
  height: 70%;
  object-fit: contain;
}

.joystick-btn:disabled {
  background: #333;
  border-color: #777;
  cursor: not-allowed;
}
.joystick-btn:disabled img {
  opacity: 0.4;
}

.joystick-btn:hover:enabled {
  border: 4px solid #151515;
}

.joystick-btn:active:enabled {
  background: linear-gradient(135deg, #151515 0%, #064ea0 50%, #1c1c1c 100%);
  border: 5px solid #4a90e2;
  border-radius: 10px;
}

#left, #right {
  transform: translateY(-50%);
}