.lightbar-container {
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  align-items: stretch;
  padding-top: 0.3rem;
  width: 100%;
}

.lightbar-btn {
  padding: 0.9rem 1.2rem;
  background: #2b2b2b;
  color: white;
  border: 2px solid  #4a90e2;       
  border-radius: 10px;            
  width: 15rem;
  background: linear-gradient(135deg, #151515 0%, #3a3a3a 50%, #1c1c1c 100%);
  cursor: pointer;
  transition: all 0.15s ease-in-out;
  box-shadow: 0 2px 6px rgba(0,0,0,0.25);
  outline: none;
}


.lightbar-btn.active {
  background: #266cbb; 
  border-color: #4a90e2;
}
.lightbar-btn:active {
  background: #266cbb; 
  border-color: #4a90e2;
  transform: scale(1.10);
}
.lightbar-btn:hover {
  border: 2px solid  #4a90e2; 
}

.lightbar-btn:focus,
.lightbar-btn:focus-visible {
  border-color: #4a90e2;
  outline: none;
}
.top-buttons {
  margin-inline: 0.5rem;
}
.center-btn {
  margin: 0 auto; 
}