.ua-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.55);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.ua-modal {
  background: #ffffff;
  padding: 32px 48px;
  border-radius: 16px;
  border: 2px solid #830505;
  background: linear-gradient(135deg, #151515 0%, #3a3a3a 50%, #1c1c1c 100%);
  max-width: 500px;            
  width: calc(100% - 60px); 
  text-align: center;
  animation: pulse-red 1.2s infinite ease-in-out;
}

.ua-message {
  margin-bottom: 20px;
  font-size: 1.2rem;
  color: white;
}

.ua-button {
  padding: 0.6rem 1.2rem;
  background: #2b2b2b;
  color: white;
  border: 2px solid  #4a90e2;       
  border-radius: 10px;            
  width: 10rem;
  background: linear-gradient(135deg, #151515 0%, #3a3a3a 50%, #1c1c1c 100%);
  cursor: pointer;
  transition: all 0.15s ease-in-out;
  box-shadow: 0 0 12px rgba(74, 144, 226, 0.6);
}


@keyframes pulse-red {
  0%   { box-shadow: 0 0 6px rgba(131, 5, 5, 0.5); }
  50%  { box-shadow: 0 0 40px rgba(255, 60, 60, 1); }
  100% { box-shadow: 0 0 6px rgba(131, 5, 5, 0.5); }
}