
html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: 'Segoe UI', Roboto, sans-serif;
  background: #1e1e1e;
  color: #fff;
  overflow-x: hidden;
  
}

.app-background {
  min-height: 100vh;
  width: 100vw;
  padding-top: 60px;       
  padding-bottom: 60px;    
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  box-sizing: border-box;
  background: linear-gradient(135deg, #151515 0%, #3a3a3a 50%, #1c1c1c 100%);
  position: relative;
}




