.waypoints-page {
  height: calc(95vh - 120px);
  width: 100%;
  padding-top: 0.65rem;
}

.map-wrapper {
  width: 100%;        
  margin-left: 0;  
}

.waypoints-map {
  width: 100%;       
  height: 74vh;
  border: 2px solid  #4a90e2;       
  border-radius: 10px;   
  box-shadow: 0 0 12px rgba(74, 144, 226, 0.6);
  margin-bottom: 1rem;
}

.waypoints-buttons {
  display: flex;
  justify-content: center; 
  gap: 0.75rem;
}

.waypoints-buttons button {
  padding: 0.6rem 1.2rem;
  background: #2b2b2b;
  color: white;
  border: 2px solid  #4a90e2;       
  border-radius: 10px;            
  width: 15rem;
  background: linear-gradient(135deg, #151515 0%, #3a3a3a 50%, #1c1c1c 100%);
  cursor: pointer;
  transition: all 0.15s ease-in-out;
  box-shadow: 0 0 12px rgba(74, 144, 226, 0.6);
}

.waypoints-buttons button:active {
  transform: scale(1.15); 
}

.main-content {
  display: flex;
  gap: 16px; 
}

.left-panel {
  display: flex;
  flex-direction: column;
  width: 70%; 
}

.right-panel {
  display: flex;
  flex-direction: column;
  width: 30%; 
  height: calc(95vh - 105px);
}

.top-buttons {
  display: flex;
  gap: 8px;
  margin-bottom: 16px;
  flex-shrink: 0;
}

.top-buttons button {
  width: 50%;
}

.waypoint-list-container {
  max-height: 300px;
  overflow-y: auto;
  padding-right: 3px;  
  flex: 1;
  margin-bottom: 0; 
}

.waypoint-list-container::-webkit-scrollbar {
  width: 8px;
}

.waypoint-list-container::-webkit-scrollbar-thumb {
  background: #4a90e2;
  border-radius: 4px;
}

.waypoint-controls {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
}

.controls-row {
  display: flex;
  gap: 10px;
  justify-content: space-between;  
  width: 100%; 
}

h5{
  margin: 0;
  text-align: center;
}



