.waypoints-page {
  height: calc(95vh - 120px);
  width: 100%;
  padding-top: 0.65rem;
}

.map-wrapper {
  width: 100%;        
  margin-left: 0;    
}

.waypoints-map {
  width: 100%;       
  height: 74vh;
  border: 3px solid #444;
  border-radius: 10px;
  box-shadow: 0 5px 12px rgba(0,0,0,0.5);
  margin-bottom: 1rem;
}

.waypoints-buttons {
  display: flex;
  justify-content: center; 
  gap: 0.75rem;
}

.waypoints-buttons button {
  padding: 0.6rem 1.2rem;
  background: #2b2b2b;
  color: white;
  border: 2px solid  #4a90e2;       
  border-radius: 10px;            
  width: 15rem;
  background: linear-gradient(135deg, #151515 0%, #3a3a3a 50%, #1c1c1c 100%);
  cursor: pointer;
  transition: all 0.15s ease-in-out;
  box-shadow: 0 0 12px rgba(74, 144, 226, 0.6);
}

.waypoints-buttons button:hover {
  background: #3a3a3a;
  border-color: #777;
  box-shadow: 0 4px 10px rgba(0,0,0,0.35);
}

.waypoints-buttons button:active {
  transform: scale(1.15);
}


.waypoints-buttons button.btn-blue:hover {
  background: #266cbb;  
  border-color: #1f5494;
}

.waypoints-buttons button.btn-red:hover {
  background: #a31f1f;
  border-color: #d83737;
}

.main-content {
  display: flex;
  gap: 16px; /* space between left and right panels */
}

.left-panel {
  display: flex;
  flex-direction: column;
  width: 70%; /* left panel takes 70% of width */
}

.right-panel {
  display: flex;
  flex-direction: column;
  width: 30%; /* right panel takes remaining 30% */
}

.top-buttons {
  display: flex;
  gap: 8px;
  margin-bottom: 16px;
}

.top-buttons button {
  width: 50%;
}